[submodule "services/notification_service"]
	path = services/notification_service
	url = git@github.com:HunterXIII/NotificationService.git
[submodule "services/profile_service"]
	path = services/profile_service
	url = https://github.com/mnonessss/profile_service
[submodule "services/integration_service"]
	path = services/integration_service
	url = https://github.com/grecha-top/devforge-integration-service
[submodule "services/project_service"]
	path = services/project_service
	url = https://github.com/mariamaksikova/ProjectService
[submodule "services/auth_service"]
	path = services/auth_service
	url = https://github.com/aartemmmm/auth_service.git
